# Copyright (c) 2013, webvariants GbR, http://www.webvariants.de
#
# This file is released under the terms of the MIT license. You can find the
# complete text in the attached LICENSE file or online at:
#
# http://www.opensource.org/licenses/mit-license.php

RewriteEngine On
# RewriteBase /

# Don't allow access to certain files
<FilesMatch "^((composer\.(json|lock))|version|LICENSE)$">
	Deny from all
</FilesMatch>

# Single-Domain
# RewriteCond %{HTTP_HOST} ^example\.de$
# RewriteRule ^(.*)$ http://www.example.de/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}  !.php$
RewriteCond %{REQUEST_FILENAME}  !robots.txt$
RewriteRule .*                   index.php
