@charset "utf-8";
@import 'mixins.less';

body {
	background: url("../images/background.png") repeat-x 0 0 #b1b3b1;
	margin: 0;
}

#page {
	width: 990px;
	min-height: 300px;
	margin: 63px auto 0 auto;
}

#container {
	.clearfix;
	position: relative;
	margin-left: 85px;
}

#topline {
	border-bottom: 1px solid #CCC;
	height: 17px;
	font-size: 12px;

	p {
		float: left;
		margin: 0;
		padding: 0;
		font-family: Georgia, serif;
		font-style: italic;
	}

	ul {
		float: right;
	}

	li {
		display: inline;
		margin-left: 17px;
	}

	a:active, a:hover {
		color: #3aa9bd;
	}
}

#header {
	position: relative;
	margin-top: 65px;
}

#logo {
	position: absolute;
	top: -15px;
	left: 0;
	display: block;

	img {
		width: 122px;
		height: 65px;
	}
}

#claim {
	margin-left: 255px;

	h1 {
		word-spacing: 0;
		font-family: Garamond, serif;
		font-size: 34px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	span {
		font-size: 15px;
	}
}

#main {
	min-height: 300px;
	margin-top: 60px;
}

#navigation {
	width: 225px;
	font-size: 12px;
	float: left;

	ul {
		border-top: 1px solid #ccc;
	}

	li {
		border-bottom: 1px solid #ccc;
		font-size: 14px;
		padding: 15px 0;
		list-style: none;

		&.active {
			border-bottom: 1px solid #88c7d3;
		}
	}

	a.active {
		color: #2d8393;
	}
}

#content {
	float: left;
	width: 650px;
	margin-left: 30px;

	.wymeditor {
		width: 100%;
	}

	div.left, div.right {
		width: 310px;
	}

	div.left {
		margin-right: 30px;
	}

	p:first-letter {
		padding-left: 12px;
		 background: url(../images/bullet_square.png) left 4px no-repeat;
	}
	.gallery_widget {
		overflow: hidden;
		width: auto;
		margin: 0 auto;
		/* margin: 11px 0; */
		margin-bottom: 10px;
		.image_container {
			float: left;
			.image_title {
				border-top: 1px solid #ccc;
				margin: 0 !important;
				padding: 10px 5px;
			}
			.image_gallery {
				li {
					list-style: none;
					margin: 0;
					padding: 0;
					line-height: 0;
					float: left;
					img {
						margin: 0;
						padding: 5.25px;
					}
				}
				li.bottom_images {display:none;}
			}
			.extender {
				float: left;
				width: 100%;
				text-align: center;
				margin-top: 15px;
				border-top: 1px solid #ccc;
				p {
					margin: 0 auto;
					width: 20em;
					line-height: 100%;
					padding: 10px;
					font-size: 12px;

					&:first-letter {
						background: none;
					}
				}
				.clicker {
					margin-top: 10px;
					border-radius: 5px;
					font-size: 20px;
				}
				.clicker:hover {
					color: #787373;
				}
				.collapser {
					display:none;
					margin-bottom: 15px;
				}
			}
			#bottom {
				border-bottom: 1px solid #ccc;
				margin: 15px 0;
				margin-top: 10px;
				padding: 15px 0;
			}
		}
	}
	.slideshow {
		position: relative;
		height: 350px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 8;
		}
		img.active {
			z-index:10;
		}
		img.last-active {
			z-index: 9;
		}
	}
}

#footer {
	margin-top: 40px;
	border-top: 1px solid #999;
	height: 50px;
	padding-top: 5px;

	li {
		display: inline;
		margin-right: 17px;
		font-size: 12px;
	}

	a:active, a:hover {
		color: #2d8393;
	}
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png') !important;
}
#fancybox-loading div {
	background: url('../images/fancybox_loading.gif') center center no-repeat !important;
}
.fancybox-nav {
	background: transparent url('../images/blank.gif') !important; /* helps IE */
}
.fancybox-overlay {
	background: url('../images/fancybox_overlay.png') !important;
}